# Homework 4: Group 1
#### Linear Regression (NYC + Boston)

#### David Jung, Ryan Voges, Emily Blake, Spencer Powell, Abraham Alhomadi

In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [67]:
nyc = pd.read_csv("nyc-rolling-sales_clean.csv", sep=",")

In [68]:
rand_state= 1000

- 1. Change the type of the feature variables as you see fit!

In [38]:
# Looking at the data to see if any feature variables need to be changed
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30236 entries, 0 to 30235
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         30236 non-null  object
 1   NEIGHBORHOOD                    30236 non-null  object
 2   BUILDING CLASS CATEGORY         30236 non-null  object
 3   TAX CLASS AT PRESENT            30236 non-null  object
 4   BUILDING CLASS AT PRESENT       30236 non-null  object
 5   ZIP CODE                        30236 non-null  int64
 6   RESIDENTIAL UNITS               30236 non-null  int64
 7   COMMERCIAL UNITS                30236 non-null  int64
 8   TOTAL UNITS                     30236 non-null  int64
 9   LAND SQUARE FEET                30236 non-null  float64
 10  GROSS SQUARE FEET               30236 non-null  float64
 11  YEAR BUILT                      30236 non-null  int64
 12  TAX CLASS AT TIME OF SALE       30236 non-null  int64
 13  BUILDING CLASS AT TIME OF SALE  30236 non-null  object
 14  SALE PRICE                      30236 non-null  float64
 15  SALE DATE                       30236 non-null  object
 16  sale_year                       30236 non-null  int64
 17  sale_month                      30236 non-null  int64
dtypes: float64(3), int64(8), object(7)
memory usage: 4.2+ MB

In [39]:
for col in nyc.columns:
    print(col, nyc[col].nunique())

BOROUGH 5
NEIGHBORHOOD 242
BUILDING CLASS CATEGORY 38
TAX CLASS AT PRESENT 9
BUILDING CLASS AT PRESENT 115
ZIP CODE 171
RESIDENTIAL UNITS 72
COMMERCIAL UNITS 20
TOTAL UNITS 74
LAND SQUARE FEET 4105
GROSS SQUARE FEET 3589
YEAR BUILT 137
TAX CLASS AT TIME OF SALE 3
BUILDING CLASS AT TIME OF SALE 115
SALE PRICE 4848
SALE DATE 327
sale_year 2
sale_month 12

In [5]:
# Changing variables to categorical
categorical = ["BOROUGH", "NEIGHBORHOOD", "BUILDING CLASS CATEGORY", "TAX CLASS AT PRESENT"]

In [40]:
categoricals = list(nyc.drop(['RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS', 'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'SALE PRICE', 'SALE DATE'], axis=1).columns)
print(categoricals)

['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY', 'TAX CLASS AT PRESENT', 'BUILDING CLASS AT PRESENT', 'ZIP CODE', 'YEAR BUILT', 'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE', 'sale_year', 'sale_month']

In [7]:
df['SALE DATE'] = pd.to_datetime(nyc['SALE DATE'], errors='coerce')

In [8]:
nyc['sale_year'] = pd.DatetimeIndex(nyc['SALE DATE']).year.astype("category")
nyc['sale_month'] = pd.DatetimeIndex(nyc['SALE DATE']).month.astype("category")
pd.crosstab(df['sale_month'], nyc['sale_year'])

sale_year   2016  2017
sale_month
1              0  2432
2              0  2323
3              0  2782
4              0  2344
5              0  2565
6              0  2931
7              0  2328
8              0  1937
9           2807     0
10          2373     0
11          2545     0
12          2869     0

In [14]:
for col in categoricals:
    nyc[col]=nyc[col].astype("category")

In [16]:
nyc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30236 entries, 0 to 30235
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   BOROUGH                         30236 non-null  category
 1   NEIGHBORHOOD                    30236 non-null  category
 2   BUILDING CLASS CATEGORY         30236 non-null  category
 3   TAX CLASS AT PRESENT            30236 non-null  category
 4   BUILDING CLASS AT PRESENT       30236 non-null  category
 5   ZIP CODE                        30236 non-null  category
 6   RESIDENTIAL UNITS               30236 non-null  int64
 7   COMMERCIAL UNITS                30236 non-null  int64
 8   TOTAL UNITS                     30236 non-null  int64
 9   LAND SQUARE FEET                30236 non-null  float64
 10  GROSS SQUARE FEET               30236 non-null  float64
 11  YEAR BUILT                      30236 non-null  category
 12  TAX CLASS AT TIME OF SALE       30236 non-null  category
 13  BUILDING CLASS AT TIME OF SALE  30236 non-null  category
 14  SALE PRICE                      30236 non-null  float64
 15  SALE DATE                       30236 non-null  datetime64[ns]
 16  sale_year                       30236 non-null  category
 17  sale_month                      30236 non-null  category
dtypes: category(11), datetime64[ns](1), float64(3), int64(3)
memory usage: 2.1 MB

2. Define your target variable as target= log(SALE PRICE) and add it to your data
frame. Explain why this transformation would boost the performance of your
linear model?

3. Define your feature space (X). You can pick as many features as possible! it's your call!

4. Use get dummies( drop_first=True ) function from pandas package to make the
categorical variables into dummy variables. How many features you have now?
wow! welcome to Machine Learning.

5. Split the data into test (30%) and train set (70%)

6. Use LinearRegression() model from Sklearn package to train the model. Do the
followings: (15 points)
    1. Save the predicted values for the test set in y hat test. (5 points)
    2. Construct a data frame named log predictions which has 3 columns: y test, y hat test , resid.(5 points)
    3. Report the RMSE test (RMSE in the test set) (5 points)

7. Estimate the RMSE test using K-Fold Cross Validation technique (try K=5 and
K=10) and name them as RMSE CV5 and RMSE CV10. (15 points)

8. Compare RMSE CV with RMSE test from part 3 and explain your observation?
(5 points)